# Database
DB_UserNAME=postgres
DB_PASSWORD=db_password
DB_HOST=localhost:5432
DB_NAME=DetailStorage

# App
APP_DEBUG=True
APP_TITLE="detail storage users microservice"
APP_DESCRIPTION="users microservice for detail storage app"
APP_VERSION="0.1.0"
APP_HOST="127.0.0.1"
APP_PORT=8002